.background {
    background-image: url(bg.png);
    background-repeat: repeat;
    background-size: 30px;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: auto;

}
.header {
    display: block;
    background-color: beige;
    height: 550px;
    width: 800px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 400px;
    text-align: center;
    top: 0;
    margin-top: -200px
}
#headline {
    padding-top: 150px;
    color: rosybrown;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
}
#Navi {
    padding-top: 150px;
    color: rosybrown;
    margin-left: 550px;
    padding: 10px 10px 10px 10px;
    position: fixed;
    top: 0;
    width: fit-content;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.Nav {
    text-decoration: rosybrown;
    background-color: seashell;
    height: 10px;
    width: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
}
.Nav{
    background-color: rosybrown;
}
.Nav:hover {
    background-color: seashell;
}
#aktuell{
    color: pink;
}
#headname {
    color: pink;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 240px;
    margin-top: -120px;
#h1 {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
}
a {
    font-family: ;
    color:
}

form {
    width: fit-content;
    padding: 20px 20px;
}

.form-text {
    background-color:seashell;
    width: 200px; 
    height: 20px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    border: none;
}

textarea {
    background-color: seashell;
    width: 200px; height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
    margin: 10px;
    border: none;
}

#submitting {
    color: seashell;
    font-size: 10px;
    font-family: sans-serif;
}

.form-button {
    background-color: rosybrown;
    border: none;
}

.form-button:hover {
    background-color: seashell;
    color: rosybrown;
}
    
