html, body {
    background-color: black ;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.drum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.drum button {
    width: 150px;
    height: 150px;
    margin: 10px 0;
    font-size: 20px;  
} 
#soundfun button{
    color: blue;
   
}
#soundnote button {
    color:pink;
}
#soundlaugh button {
    color: orange;
}
#play footer {
    display: block;
    margin: auto;
    margin-top: 20px;
}
